<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>天翊足球队dashboard</title>
   <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
   <link href="https://v3.bootcss.com/examples/justified-nav/justified-nav.css" rel="stylesheet">
   <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
   <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="masthead">
        <h3 class="text-muted">天翊足球队官网</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="http://nporsche.com/ty">Home</a></li>
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">球队管理<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://nporsche.com/ty/addMatchPage">比赛信息添加</a></li>
                <li><a href="#">球员信息</a></li>
                <li><a href="#">充值</a></li>
              </ul>
            </li>
            <li><a href="#">技术统计</a></li>
            <li><a href="#">相册</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">联系我们</a></li>
          </ul>
        </nav>
</div>
<div class="table-responsive">
  <table class="table">
    <caption>队球信息</caption>
      <thead>
         <tr>
            <th>总收入</th>
            <th>总支出</th>
            <th>余额</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>￥{{.Team.Revenue}}</td>
            <td>￥{{.Team.Cost}}</td>
            <td>￥{{.Team.Balance}}</td>
         </tr>
      </tbody>
  </table>
</div>

<div class="table-responsive">
   <table class="table">
      <caption>队员信息汇总</caption>
      <thead>
         <tr>
            <th>姓名</th>
            <th>号码</th>
            <th>出勤率</th>
            <th>余额</th>
            <th>状态</th>
         </tr>
      </thead>
      <tbody>
         {{range $player :=.Players}}
         <tr class="{{$player.ColorState}}">
            <td>
              <a href="http://nporsche.com:8080/accountQuery?name={{$player.Name}}">
              {{$player.Name}}
              </a>
            </td>
            <td>{{$player.Tag}}</td>
            <td>{{$player.Attendance}}</td>
            <td>￥{{$player.Balance}}</td>
            <td>{{$player.Status}}</td>
         </tr>
         {{end}}
      </tbody>
   </table>
</div>  	
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
	<div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">组委会联系方式</h4>
      </div>
      <div class="modal-body">
        队长：谢永杰 13520511173<br>
        领队：陈鹏宇 15011079282<br>
      </div>
   	 </div>
</div>
</body>
</html> 	
